<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
</head>

<body class="bg-dark text-white">

  <%- include('components/navbar') %>

    <div id="container_content">

    </div>

</body>

</html>