<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body class="bg-dark text-white">

    <%- include('components/navbar') %>

        <div id="container_content">
            <table class="table text-white">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">NickName</th>
                    <th scope="col">Points</th>
                  </tr>
                </thead>
                <tbody>
        
                </tbody>
              </table>
        </div>

</body>

</html>

<script src="/javascripts/ranking.js" defer></script>