<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body class="bg-dark text-white">

    <%- include('components/navbar') %>

        <div id="container_content">

            <div id="user_form">
                <div class="mb-3 bg-dark">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="input_email" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3 bg-dark">
                    <label for="exampleInputEmail1" class="form-label">Nickname</label>
                    <input type="email" class="form-control" id="input_nickname" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="input_password">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password confirmation</label>
                    <input type="password" class="form-control" id="input_password_conf">
                </div>
                <!-- <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> -->
                <button type="submit" id="submit_register" class="btn btn-primary">Submit</button>
            </div>

        </div>

</body>

</html>

<script src="/javascripts/register.js" defer></script>